<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="${basedir}\nlog.txt" 
      internalLogLevel="Info">

  <extensions>
    <add assembly="NLog.Loki" />
  </extensions>

  <targets>
    <target
      name="loki"
      xsi:type="loki"
      batchSize="200"
      taskDelayMilliseconds="500"
      endpoint="http://localhost:3100"
      retryCount="3"
      orderWrites="true"
      compressionLevel="fastest"
      eventPropertiesAsLabels="false"
      sendLastFormatParameter="false">
      <label name="app" layout="template" />
      <layout xsi:type="JsonLayout" includeEventProperties="true">
        <attribute name="level" layout="${level} "/>
        <attribute name="source" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="type" layout="${exception:format=type}" />
            <attribute name="message" layout="${exception:format=message}" />
            <attribute name="stacktrace" layout="${exception:format=tostring}" />
          </layout>
        </attribute>
      </layout>
    </target>

    <target xsi:type="AsyncWrapper" name="console">
      <target xsi:type="Console" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="loki" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>

</nlog>
